# Logs
*.log
npm-debug.log
pnpm-debug.log 

# Dependency directory
node_modules

# Runtime data
tmp

# Typescript project
src

# Examples (If applicable to your project)
examples

tsconfig.json
.eslintrc.json
.husky